<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/railway?useSSL=false</property>-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/railway?useSSL=false&amp;createDatabaseIfNotExist=true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
      
        
        
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Chamod@2002$$</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="hibernate.User"></mapping>
        <mapping class="hibernate.UserSearch"></mapping>
        <mapping class="hibernate.Admin"></mapping>
        <mapping class="hibernate.Train"></mapping>
        <mapping class="hibernate.TrainClass"></mapping>
        <mapping class="hibernate.Coaches"></mapping>
        <mapping class="hibernate.Route"></mapping>
        <mapping class="hibernate.Station"></mapping>
        <mapping class="hibernate.Speed"></mapping>
        <mapping class="hibernate.Status"></mapping>
        <mapping class="hibernate.TrainType"></mapping>
        <mapping class="hibernate.DaysOftravel"></mapping>
        <mapping class="hibernate.TrainStation"></mapping>
        <mapping class="hibernate.RoutePrice"></mapping>
        <mapping class="hibernate.SmartBooking"></mapping>
        <mapping class="hibernate.TrainStationPrice"></mapping>
        <mapping class="hibernate.SimpleStationPayment"></mapping>
    </session-factory>
</hibernate-configuration>